/** @format */

.attribution {
	font-size: 0.688rem;
	line-height: 1.125rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.attribution span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.attribution a {
	color: var(--dark-cyan);
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

.attribution a:hover {
	text-decoration: underline;
	transition: all 0.5s ease-in-out;
}

@media (max-width: 576px) {
	.attribution {
		flex-direction: column;
	}

	.attribution span {
		margin-left: 0;
		margin-right: 0;
	}
}
